{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h3>Профиль пользователя <i>{{ user.username }}</i></h3>
    <ul>
        <li>Логин: {{ user.username }}</li>
        <li>e-mail: {{ user.email }}</li>
        <li>ФИО: {{ user.get_full_name }}</li>
    </ul>
    <hr>
    <h4>Изменить пароль</h4>
    {% if user == request.user %}
        <form action="{% url 'change_pw' %}" method="POST">
            {% csrf_token %}
            {% bootstrap4_form pw_change_form %}
            <button class="btn btn-info">Сохранить</button>
        </form>
    {% endif %}
    <hr>
    <h4>Товары этого пользователя:</h4>
    {% include 'includes/products.html' %}
    
{% endblock %}